APP_HOST=127.0.0.1
APP_PORT=5000

# memory | sql | tidb
STORE_BACKEND=memory

TIDB_HOST=169.24.1.87
TIDB_PORT=4000
TIDB_DATABASE=ai_alert
TIDB_USERNAME=ai_alert
TIDB_PASSWORD=ai_alert
DATABASE_URL=mysql+pymysql://ai_alert:ai_alert@169.24.1.87:4000/ai_alert?charset=utf8mb4

ZABBIX_BASE_URL=http://169.24.2.90:80/zabbix/api_jsonrpc.php
ZABBIX_USERNAME=
ZABBIX_PASSWORD=
ZABBIX_TIMEOUT_SECONDS=10
USE_STUB_ZABBIX=true

AI_PROVIDER=volcengine_coding
AI_BASE_URL=https://ark.cn-beijing.volces.com/api/coding/v3
AI_API_KEY=
AI_MODEL=ark-code-latest
AI_TIMEOUT_SECONDS=10
USE_STUB_AI=true
