MODEL_API_KEY=
MODEL_BASE_URL=
MODEL_NAME=

QWEN_API_KEY=
QWEN_BASE_URL=
QWEN_MODEL=

DOCKER_BIN=docker
DOCKER_HOST=tcp://169.24.216.227:3389
DOCKER_TLS_VERIFY=
DOCKER_CERT_PATH=

CHAINLIT_AUTH=false
CHAINLIT_PORT=8000
LOG_DEFAULT_TAIL=100
LOG_MAX_TAIL=1000
